// colors
$color_background_app: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
$color_white: #fff;
$color_black: #383838;
$color_gray: gray;
$color_blue: #2d7df9;
$color_pink: #ff6564;
// ruler
$spacing: 1rem;
